
.footer {
    background-color: #464646;
    color:white;
    padding-top: 20px;
    padding-bottom:20px;
    
    .footer__title {
        font-family: 'Shrikhand', cursive;
        margin-bottom: 0;
    }

    .un-list {
        list-style:none;
        margin:0;
        padding:0;
    }

    .footer-list {
        padding:5px;   
    }

a {
        text-decoration: none;
        color:white;
    }

    .space-logo {
        padding-left:10px;
    }
}