.location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    background: rgb(182,180,180);
    background: linear-gradient(180deg, rgba(182,180,180,1) 0%, rgba(213,210,210,1) 5%, rgba(217,217,217,1) 100%);

}